* {
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: blue;
    background-image: 
        linear-gradient(
            to right,
            rgba(238, 238, 238, 0.972) 50%,
            #82cfe4 50%
            /* #22b2da */
        );
    padding: 70px 25px;   
}

#app{
    /* display: grid; */
    /* grid-auto-rows: minmax(50px, auto); */
    /* grid-template-columns:  */
    height:50vh;
    background: #fff;
    padding: 30px 10px;
    
    /* color: #f0d43a; */
    justify-content: center;
    /* grid-gap: 1em; */
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.weather-wrapper {
    display: flex;
    /* justify-content: space-between; */

}
.userEntry {
    display: flex;
    align-items: center;
}
.location, 
.feel,
#generata {
    margin-right: 5px;
}

.wrapper1 {
    background: #fff;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 1px 1px 2px;
    padding: 5px;
}

.entry{
    background: #eee;
    height: 200px;
    width: 100%;
    height: 350px;
    padding: 10px;
}

.weather-cards {
    display: flex;
    margin-top: 10px;
}

.card {
    background: #3b4a6b;
    /* width: 150px; */
    border-radius: 10px;
    width: 100%;
    color: #fff;
    font-size: 0.8rem;
    padding: 5px 10px;
}

.card1 {
    margin-right: 5px;
    background: #636363;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.card2 {
    margin-right: 10px;
    margin-left: 5px;
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {

}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 1rem;
    color: #fff;
}

input{
    display:block;
    height: 40px;
    width: 180px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 0.8rem;
    font-family: 'Oswald', sans-serif;
    border: none;

}

button{
    width: 100px;
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 0.8rem;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
} 